<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="/static/style/main.css"/>


    <title> Music Sharing Website </title>
</head>


<body>
<nav th:replace="fragments/navigation.html :: nav-all-links "></nav>
<br>



<!-- ***** Featured Artist Area Start ***** -->
<section class="Most-Popular-Artists">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center">
                    <h5>Most Popular Artists</h5>
                    <div class="line"></div>
                </div>
            </div>
        </div>

        <div class="row justify-content-around">
            <!-- Single Featured Artist -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="Most-Popular-Artists mb-80">
                    <img th:src="@{/img/bg-img/3.jpg}" width="300" height="300" style="border: 5px Solid black;"/>&emsp;&emsp;
                    <div class="Artist-info">
                        <p style="padding: 10px; background: White; border: 2px Solid black; text-align: center;">Post Malone&emsp;&emsp;Albums:23</p>
                    </div>
                </div>
            </div>

            <!-- Single Featured Artist -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="Most-Popular-Artists mb-80">
                    <img th:src="@{/img/bg-img/6.jpg}" width="300" height="300" style="border: 5px Solid black;">&emsp;&emsp;
                    <div class="Artist-info">
                        <p style="padding: 10px; background: White; border: 2px Solid black; text-align: center;">Taylor Swift&emsp;&emsp;Albums:25</p>
                    </div>
                </div>
            </div>

            <!-- Single Featured Artist -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="Most-Popular-Artist mb-80">
                    <img th:src="@{/img/bg-img/7.jpg}" width="300" height="300" style="border: 5px Solid black;">&emsp;&emsp;
                    <p style="padding: 10px; background: White; border: 2px Solid black; text-align: center;">Dragonforce&emsp;&emsp;Albums:22</p>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- ***** Featured Artist End ***** -->

<footer th:insert="fragments/navigation :: footer"></footer>
<hr>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>
